body{ 
    background-color: #ffffff; 
    margin: 0; 
    height: 100vh; 
} 
 
header{ 
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
    background-color: darkcyan;
    height: 70px;
    width: 100%;
} 

nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 15px; 
} 

main{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: auto; 
} 

a, .white{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 6px 12px 6px 12px;
    min-width: fit-content;
    border-bottom: 1.4px solid white;
    cursor: pointer;
    transition: 0.5s ease-in;

}

a:hover, .white:hover{
    background-color: rgb(255, 255, 255);
    color: darkcyan;
}

#true-main{ 
    display: flex; 
    align-items: self-end; 
    margin: 90px 0 90px 0 ; 
    background-color: red; 
    width: 800px; 
    height: 400px; 
} 

#cadastro{ 
    display: flex;
    justify-content: right;
    gap: 10px; 
} 

.light-blue2{ 
    background-color: lightblue; 
    width: 30%; 
    height: 60px; 
} 

#orange{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    height: 100px; 
    width: 100%; 
    margin: 0 0 5% 0; 
    background-color: orange;     
} 

#nike-logo{
    height: 80px;
}

#logo-container, #cadastro{
    width: 180px;
}