body{ 
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #ffffff; 
    margin: 0; 
    height: 100vh; 

} 
 
header{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
    background-color: darkcyan;
    height: 70px;
    width: 100%;
} 

nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 15px; 
} 

.cadastro, .white{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 6px 12px 6px 12px;
    min-width: fit-content;
    border: none;
    border-bottom: 1.4px solid white;
    cursor: pointer;
    transition: 0.5s ease-in;

}

.cadastro:hover, .white:hover{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: darkcyan;
}

#nike-logo{
    height: 80px;
    width: auto;
}

#logo-container, #cadastro{
    width: 180px;
}

#cadastro{ 
    display: flex;
    justify-content: right;
    gap: 10px; 
}

main{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
} 

.shoes-img{
    background-size: cover;
    width: 600px; 
    height: 600px;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#img-1{ 
    background-image: url(img/the\ right\ one1.webp);
} 

#img-2{ 
    background-image: url(img/tenis_nike_air_max_tw_branco_dq3984_102_7731_variacao_45023_2_944830d2aca74a56b35cc227d2064d33.webp);
}

#img-3{ 
    background-image: url(img/whatsapp-image-2024-01-03-at-12-32-19--1--wpdzmu8hao.webp);
} 

footer{
    background-color: darkcyan;
    color: #ffffff;
    height: fit-content;
    padding: 40px 0 40px 0;
    width: 100%;
}

#footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15% 1% 15%;
}

#footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 15% 0 15% ;
    gap: 70px;
}

#footer-2-1{
    display: flex;
    gap: 25px;
}

#footer-2-2{
    text-align: end;
}

#footer-line{
    border: 0;
    height: 1px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.493);
    margin: 0 15% 0 15%;

}

.media{
    background-color: #ffffff;   
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0 5px 0 0 ;
}

h1{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 15px;
}

h2{
    font-family: "Kanit", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: x-large;
    letter-spacing: 5px;
    margin: 10px;
}

h4{
    font-weight: 400; 
    margin: 5px 0 0 0 ;
}

h5{
    font-weight: 200;
}

h6{
    font-weight: 150;
}

::selection{
    background-color: white;
    color: darkcyan;
}

::-webkit-scrollbar{
    width: auto;
}

::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
    border: 0.5px solid black;
}

::-webkit-scrollbar-thumb{
    background-color: darkcyan;
    border: 0.5px solid black;
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(0, 192, 192);
}